mixin createMenu(idPage)
	if idPage == 1
		.menu
			.menu1
				a(href="index.html").menu_item
					img.logo(src="img/photo_2023-01-17_18-29-00.jpg")
			.menu2
				a(href="index2.html").menu_item Labels
				a(href="").menu_item Charts
				a(href="").menu_item Albums
				a(href="").menu_item Awards
				a(href="index1.html").menu_item Discography
		

	if idPage == 2
		.menu
			.menu1
				a(href="index.html").menu_item
					img.logo(src="img/photo_2023-01-17_18-29-00.jpg")
			.menu2
				a(href="index2.html").menu_item.active Labels
				a(href="").menu_item Charts
				a(href="").menu_item Albums
				a(href="").menu_item Awards
				a(href="index1.html").menu_item Discography
			

	if idPage == 3
		.menu
			.menu1
				a(href="index.html").menu_item
					img.logo(src="img/photo_2023-01-17_18-29-00.jpg")
			.menu2
				a(href="index2.html").menu_item Labels
				a(href="").menu_item Charts
				a(href="").menu_item Albums
				a(href="").menu_item Awards
				a(href="index1.html").menu_item.active Discography
			
