<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@700&display=swap", rel="stylesheet")

	body
		.central_block
			include includes/menu
			+createMenu(2)
			hr.line
			.main_block_favorite
				p.title_m AOMG
				.art_pic
					img(src="img/36b477f6600d49baa6904d8151d44b58.png")
				p Самый известный в России лейбл благодаря его основателю — Jay Park, который в 2019 году провел сольный концерт в Москве с полным солд-аутом. Лейбл набирает не только хип-хоп исполнителей, но и талантливых вокалистов, диджеев и композиторов. В 2019 году выпустил собственное шоу Signhere, чтобы найти нового исполнителя для компании. Основные представители — #[strong Jay Park, Simon Dominic, GRAY, Loco, Woo Won Jae].

				p.title_m  MKIT Rain
				.art_pic
					img(src="img/7bcb4e27462153ab210767da10c71e37.jpg")
				p Еще один лейбл с молодыми корейскими хип-хоп исполнителями американского происхождения, базирующийся в Лос-Анджелесе. Получил больше внимания среди корейской аудитории после победы его исполнителя nafla в Show Me the Money 777. Основные исполнители — #[strong BLOO, nafla, Loopy, Owen Ovadoz, Young West].

				p.title_m Illionaire Records
				.art_pic
					img(src="img/c298e5c32ca34b5ccb25aec6d7bbb94d.jpg")
				p Звукозаписывающий лейбл, который внес огромный вклад в развитие корейской хип-хоп индустрии с помощью всего трех представителей —  #[strong The Quiett, Dok2] и #[strong Beenzino]. Прекратил свое существование весной 2020 года, но исполнители продолжают свою деятельность.
		//- Scripts
		script(src="js/jquery-3.5.1.min.js")
		script(src="js/main.js")
